
.main-container {
    width: 80%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}


.main-container .title {
    background-color:#CFCECD;
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 50px;
    box-shadow: 0px 3px grey;
}

.main-container .view-pokemon {
    display: flex;
    flex-direction: row;
}

.view-pokemon .list {
    width: 50%;
    border-right: 2px black solid;
}
.view-pokemon .subtitle {
    margin: 20px 0;
    padding-left: 10%;
}

.view-pokemon .list table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 0 10%;
}

.view-pokemon .list th {
    color:#4b9add;
}

.view-pokemon .list th.left {
    min-width: 200px;
}

.view-pokemon .list td.left {
    text-align: center;
}

.view-pokemon .list td.right {
    padding-left: 30px;
}

.view-pokemon #listPokemon td {
    height: 50px;
}

.view-pokemon .list button {
    background-color: #4b9add;
    cursor: pointer;
    color:white;
    border: none;
    width: 120px;
    height: 18px;
}

.view-pokemon .detail {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.view-pokemon .data {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.view-pokemon .detail img {
    height: 100px;
    width: 100px;
}
